.mylogo{
    width: 120px;
}
.card-body{
    background-color:brown;
}

h5{
    color:mintcream;
}



.btn-big{
    padding: 20ox 40px;
    font-size: 1.4rem;
    border: radius 0.5rem;
}
footer .card-img-overlay{
    background: rgba(0,0,0,0.5 );
}